In [1]:
name = input("이름을 입력하세요: ")
greeting = "안녕하세요, 저는 " + name + " 입니다. "
print(greeting)

이름을 입력하세요: 홍길동
안녕하세요, 저는 홍길동 입니다.

In [3]:
# 두 정수의 합 구하기

# 두 개의 정수를 변수에 저장합니다.
num1 = 5
num2 = 3

# 두 정수를 더하여 결과를 저장하는 변수를 만듭니다.
sum_result = num1 + num2

# 결과를 출력합니다.
print("두 정수의 합:", sum_result)

두 정수의 합: 8

In [5]:
'A', 'B ', 'C'

('A', 'B ', 'C')

In [6]:
"Hello world!"

'Hello world!'

In [ ]:
"{"KEY" : "VALUE"}"

In [ ]:
#단일 줄 주석
'''
여러 줄에 걸친 주석
문자열1
문자열2
'''

In [7]:
#예제 1

result = True
print(result)

result = False
print(result)

True
False

In [8]:
#예제 2

# 두 개의 정수를 입력받아 변수에 저장합니다.
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

# 서로의 값을 비교하여 True & False 를 반환 합니다.
print(num1 < num2)

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 20
True